/* Styling modal */

body{
    text-align:center;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
}

.modal .modal-content {
   /* padding: 20px 20px 20px 20px;*/
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}

@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}
#btnUpdate, #btnSingIn {
    margin-top: 10px;
}
.showpass{
display: grid;
grid-template-columns: 1fr 0fr;
grid-gap: 9px;
margin: 5px;

}
    .showpass a {
        padding: 10px;
        cursor: pointer
    }